@if (actions().length) {
  <ion-card>
    <ion-card-content>
      <ion-list>
        @for (action of actions(); track $index) {
          <ion-item>
            <ion-label>
              <div class="flex justify-between items-center">
                <div class="flex items-center">
                  <ion-text>{{ CATEGORY_TYPE_TEXT_MAP[action.type] }}</ion-text>
                  <ion-chip [color]="CATEGORY_COLOR_MAP[action.category]">
                    {{ CATEGORY_TYPE_TEXT_MAP[action.category] }}
                  </ion-chip>
                </div>
                <ion-text>
                  @if (action.type === 'credit' || action.type === 'debit') {
                    {{ CATEGORY_TYPE_SHORT_TEXT_MAP[action.type] }}
                  }
                  {{ action.value }}
                </ion-text>
              </div>

            </ion-label>
          </ion-item>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
}
