<div class="px-4">
  <ion-select
    justify="end"
    interface="popover"
    [value]="sortAsc()"
    (ionChange)="onSortChange($event.detail.value)"
  >
    <ion-select-option [value]="false">Most Recent</ion-select-option>
    <ion-select-option [value]="true">Oldest</ion-select-option>
  </ion-select>
</div>
<ion-list>
  <!--https://github.com/ionic-team/ionic-framework/issues/24245-->
  <ion-reorder-group
    [disabled]="false"
    (ionItemReorder)="onItemReorder($any($event))"
  >
    @for (action of sortedActions(); track $index) {
      <ion-item-sliding>
        <ion-item>
          <ion-reorder slot="start"></ion-reorder>
          <ion-label>
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <ion-text>{{ CATEGORY_TYPE_TEXT_MAP[action.type] }}</ion-text>
                <ion-badge [color]="CATEGORY_TYPE_COLOR_MAP[action.category]">
                  {{ CATEGORY_TYPE_TEXT_MAP[action.category] | uppercase }}
                </ion-badge>
              </div>
              <app-chip [action]="action"></app-chip>
            </div>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="onEditAction(getActionsIndex($index))">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option
            color="danger"
            (click)="onRemoveAction(getActionsIndex($index))"
          >
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-reorder-group>
</ion-list>
