@if (actions().length) {
  <ion-card>
    <ion-card-content>
      <ion-list>
        @for (action of actions(); track $index) {
          <ion-item-sliding>
            <ion-item>
              <ion-label>
                <div class="flex justify-between items-center">
                  <ion-text>{{ CATEGORY_TYPE_TEXT_MAP[action.type] }}</ion-text>
                  <div class="flex items-center">
                    <ion-chip [color]="CATEGORY_TYPE_COLOR_MAP[action.category]">
                      {{ CATEGORY_TYPE_TEXT_MAP[action.category] }}
                    </ion-chip>
                    <ion-chip [color]="CATEGORY_TYPE_COLOR_MAP[action.type]">
                      @if (action.category === 'money') {
                        {{ CATEGORY_TYPE_SHORT_TEXT_MAP[action.type] }}
                      }
                      {{ action.value }}
                      @if (action.category === 'runtime') {
                        {{ CATEGORY_TYPE_SHORT_TEXT_MAP[action.type] }}
                      }
                    </ion-chip>
                  </div>
                </div>
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <!--<ion-item-option>-->
              <!--  <ion-icon name="create" slot="icon-only"></ion-icon>-->
              <!--</ion-item-option>-->
              <ion-item-option color="danger">
                <ion-icon name="trash" slot="icon-only" (click)="onRemoveAction($index)"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
    </ion-card-content>
  </ion-card>
}
